################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CacheTagService/v15/Server/sqlite3
/bin/Debug/netcoreapp2.0
/obj
